body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #999AC6;
  color: #2A2727;
  border: solid;
  border-color: #798071;
  padding: 10px;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D2D5DD;
  border: solid;
  border-color: #798071;
}

/*********** Splash Page ************************/
header {
  background-color: #B8BACF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px;
  padding-bottom: 10px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

header h1 {
  font-family: "Trirong", serif;
  color: #2A2727;
}

header img {
  height: 400px;
  width: 310px;
  border: solid;
  border-color: #798071;
  border-radius: 15px;
}

.address {
background-color: #B8BACF;
 color: #2A2727;
 text-align: center;
}

.tagline {
  background-color: #B8BACF;
   color: #2A2727;
 text-align: center;
  text-align: center;
  font-style: italic;
}

/************* Sections ********************/
hr {
  background-color: #2A2727;
  height: 2px;
}

section h3 {
  font-family: "Trirong", serif;
  color: #2A2727;
}

section dl {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #B8BACF;
}

section ul {
  list-style-type: square;
  background-color: #B8BACF;
}

section a {
  color: #2A2727;
  text-decoration: none;
}

section a:hover {
  color: #CBC3E3;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
}

.card img {
  height: 150px;
  width: 150px;
  border-radius: 5px 5px 0 0;
}

.card {
  border: solid;
  border-width: 10px;
  border: #2A2727;
  box-shadow: 0 8px 12px 0 rgb(100, 92, 92);
  background-color: #B8BACF;
  text-align: center;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #B8BACF;
  border: solid;
  border-width: 2px;
  border-color: #2A2727;
}

textarea {
   background-color: #B8BACF;
   border: solid;
   border-width: 2px;
   border-color: #2A2727;
}